{% set navLink = "font-medium tracking-wide" %}
<footer class="py-8 text-center text-lg">
  <nav class="mb-4">
    <ul class="md:flex md:space-x-4 md:items-center md:justify-center">
      <li><a class="{{ navLink }}" href="/events/">Events</a></li>
      <li><a class="{{ navLink }}" href="/roller-disco-hire/">Roller Disco Hire</a></li>
      <li><a class="{{ navLink }}" href="/roller-disco-gallery/">Roller Disco Gallery</a></li>
      <li><a class="{{ navLink }}" href="/faqs/">FAQs</a></li>
    </ul>
  </nav>
  <div class="max-w-4xl mx-auto">
    <p>Copyright © 2007-2022 Rollerstrut LLP</p>
  </div>
</footer>