@charset "UTF-8";
/*!
	Site:		Rollerstrut: Superfunk Roller Disco
	File:		/assets/styles/ie.css
	Author:		Andrew Disley, Simplified http://simplified.co.uk/
	Version:	2010-09-20

----------------------------------------------- */

@media screen, projection {

}