---
title: 'Testimonials - Superfunk Roller Disco'
permalink: /testimonials/
meta:
  description:
---
{%- from "component.njk" import component with context -%}
{%- extends "layouts/default.njk" -%}

{%- set sectionClasses = "px-6 py-16 space-y-12 lg:py-24" -%}
{%- set sectionHeaderClasses = "container max-w-3xl mx-auto space-y-4 text-center" -%}
{%- set sectionHeadlineClasses = "font-bold leading-8 text-3xl text-slate-200 tracking-wide lg:text-5xl" -%}
{%- set quoteClasses = "max-w-2xl mx-auto text-center" -%}
{%- set quoteLgClasses = "max-w-5xl" -%}
{%- set quoteBodyClasses = "font-normal space-y-6 text-2xl text-slate-300 tracking-wide lg:text-3xl" -%}
{%- set quoteLgBodyClasses = "font-normal space-y-6 text-xl text-slate-200 tracking-wide lg:text-2xl" -%}
{%- set quoteFooterClasses = "mt-8 font-normal text-xl tracking-wide lg:text-2xl" -%}

{% block header %}
  {{ component('header') }}
{% endblock %}

{% block content %}
<main>

  <div class="{{ sectionClasses }}">
    <header class="{{ sectionHeaderClasses }}">
      <h1 class="{{ sectionHeadlineClasses }}">Testimonials</h1>
    </header>
  </div>

  <div class="{{ sectionClasses }} bg-zinc-800">
    <blockquote class="{{ quoteClasses }}">
      <div class="{{ quoteBodyClasses }}">
        <p>&ldquo;I just wanted to say a massive thank you for the event last night. The children had an absolute blast and word on the street is that this could well be the best weekend ever!!&rdquo;</p>
      </div>
      <footer class="{{ quoteFooterClasses }}">
        <div class="text-pink-600">Abberley Hall School</div>
      </footer>
    </blockquote>
  </div>

  <div class="{{ sectionClasses }} bg-zinc-900">
    <blockquote class="{{ quoteClasses }}">
      <div class="{{ quoteBodyClasses }}">
        <p>&ldquo;SFRD offers children and adults alike a quirky, fun, entertaining event run to the highest standards in venues all over the country.&rdquo;</p>
      </div>
      <footer class="{{ quoteFooterClasses }}">
        <div class="text-pink-600">Liverpool Guild of Students</div>
      </footer>
    </blockquote>
  </div>

  <div class="{{ sectionClasses }} bg-zinc-800">
    <blockquote class="{{ quoteClasses + ' ' + quoteLgClasses }}">
      <div class="{{ quoteLgBodyClasses }}">
        <p>&ldquo;At Lancaster University Students Union we have worked with Superfunk Roller Disco for over 12 months holding 5 roller discos in various venues throughout the University.</p>
        <p>One of the most appealing aspects of the Superfunk team is their adaptability and professionalism. They have provided events for us in theatres and nightclubs and are always able to tailor the event to the specifications each location demands.</p>
        <p>The roller discos themselves have strong appeal to our students. They are completely different to any other event and always filled with humour and anticipation. They are equally a great non alcoholic option for customers when choosing a night out. This works well in times during the term when essay deadlines and exams are looming but students still want a night out.</p>
        <p>The organisation of the event is paramount to its success and this again is one of the main reasons why we at Lancaster have chosen to work with Superfunk time and time again. They are able to cater the number of skating sessions available per event to the size of the venue and the timescale you are working to. We have held daytime, evening and late night roller discos, all of which have been superbly executed. The Superfunk team are professional in their approach but equally retain the happy and relaxed attitude that comes from being a family run company.</p>
        <p>Most importantly for us has been the health and safety of the event, which is brilliantly orchestrated and risk assessed by the Superfunk team, meaning students on wheels isn’t as nerve wracking as one would anticipate! Each event we have held, including the get in/out on either side, has been well co-ordinated and with swift delivery. In addition the costing for each event is worked out thoroughly with the team to ensure your event is affordable to both you and the customer without losing any of its impact.</p>
        <p>I genuinely would recommend Superfunk Roller Discos to any Students Union. The students and all the staff at the Sugar House love these events and demand for them is only increasing!&rdquo;</p>
      </div>
      <footer class="{{ quoteFooterClasses }}">
        <div class="text-pink-600">Lancaster University Students Union</div>
      </footer>
    </blockquote>
  </div>

  <div class="{{ sectionClasses }} bg-zinc-900">
    <blockquote class="{{ quoteClasses + ' ' + quoteLgClasses }}">
      <div class="{{ quoteLgBodyClasses }}">
        <p>&ldquo;4CT have been working with Rollerstrut LLP for almost 12 months now – from an initial enquiry to trial roller discos at our sports centre we are now running our own monthly events, parties and special events to raise funds.</p>
        <p>Rollerstrut have been an absolutely invaluable partner, helping us along the way with advice and support on all aspects including, safety, insurance, equipment, training and staffing. Initially running events for us they have supported us through a rigorous process to train staff and volunteers to manage our own events.</p>
        <p>As a community sports centre we are rapidly gaining new customers from the roller discos which attract a family audience from across Manchester – we now regularly run out of skates because the sessions are so popular! To meet demand Rollerstrut are now helping us set up more provision in another sports centre and supporting us in developing outdoor sessions for the summer.</p>
        <p>I would have no hesitation in recommending Rollerstrut as a professional, friendly and reliable service that really can help to grow your own roller discos.&rdquo;</p>
      </div>
      <footer class="{{ quoteFooterClasses }}">
        <div class="text-pink-600">4CT Limited</div>
      </footer>
    </blockquote>
  </div>

  {# TODO: CTA to hire #}

</main>
{% endblock %}

{% block footer %}
  {{ component('footer') }}
{% endblock %}
