{%- set navLink = "block border-2 border-transparent font-medium no-underline px-3 py-1 rounded-full tracking-wide hover:bg-black hover:border-pink-600" -%}

<header class="bg-superfunk-dark py-4 text-sm text-white md:text-base">
  <div class="max-w-4xl mx-auto text-center md:flex md:items-center md:justify-between md:px-2">
    <div class="flex-shrink-0 inline-flex h-headerlogo mb-4 w-headerlogo md:mb-0">
      <a aria-label="Go to the Superfunk Roller Disco homepage" href="/">
        <picture>
          <source srcset="/images/superfunkrollerdisco.webp" type="image/webp">
          <source srcset="/images/superfunkrollerdisco.png" type="image/jpeg">
          <img alt="Superfunk Roller Disco logo" height="60" src="/images/superfunkrollerdisco.png" width="166">
        </picture>
      </a>
    </div>
    <nav>
      <ul class="flex space-x-2 items-center justify-center md:space-x-4">
        <li><a {% if '/events/' in page.url %}aria-current="page"{% endif %} class="{{ navLink }} {{ 'bg-black' if '/testimonials/' in page.url else 'bg-pink-700' }}" href="/events/">Events</a></li>
        <li><a {% if '/testimonials/' in page.url %}aria-current="page"{% endif %} class="{{ navLink }} {{ 'bg-black' if '/testimonials/' in page.url else 'bg-pink-700' }}" href="/testimonials/">Testimonials</a></li>
        <li><a {% if '/contact/' in page.url %}aria-current="page"{% endif %} class="{{ navLink }} {{ 'bg-black' if '/testimonials/' in page.url else 'bg-pink-700' }}" href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
