<header class="bg-zinc-900 py-10 text-3xl text-white bg-gradient-to-b from-zinc-900 to-black">
  <div class="max-w-4xl mx-auto space-y-10 text-center">
    <div>
      <a class="font-medium no-underline underline-offset-2 hover:underline" href="/" title="Go to the Superfunk Roller Disco homepage">Superfunk Roller Disco</a>
    </div>
  </div>
</header>